@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Orelega One', cursive;
}
header h1{
	text-align: center;
	color: red;
	margin-top: 10px;
}
nav {
	text-align: center;
	text-decoration: none;
	word-spacing: 15px;
}

a{
	text-decoration: none;
}
section h1{
	color: yellow;
	margin: 10px;
}